[submodule ".registry"]
	path = .registry
	url = https://github.com/a2-ai/a2-ai.r-universe.dev
	branch = HEAD
[submodule "blake3r"]
	path = blake3r
	url = https://github.com/a2-ai/blake3r
[submodule "dvs"]
	path = dvs
	url = https://github.com/a2-ai/dvs
[submodule "ghqc"]
	path = ghqc
	url = https://github.com/a2-ai/ghqc
[submodule "ghqc.app"]
	path = ghqc.app
	url = https://github.com/a2-ai/ghqc.app
[submodule "osinfo"]
	path = osinfo
	url = https://github.com/a2-ai/osinfo
[submodule "reportifyr"]
	path = reportifyr
	url = https://github.com/a2-ai/reportifyr
[submodule "slurmtools"]
	path = slurmtools
	url = https://github.com/a2-ai/slurmtools
